<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
  <h1>WebSocket Rails Example</h1>

  <input type="text" id="message" placeholder="Enter message">
  <button id="send">Send</button>

  <div data-controller="prueba"></div>
  <div id="messages"></div>
</body>